# Matches multiple files with brace expansion notation
# Set default charset
[*.{tsx,ts}]
charset = utf-8

[*]
# Indentation style
# Possible values - tab, space
indent_style = space
indent_size = 4

# Denotes whether to trim whitespace at the end of lines
# Possible values - true, false
trim_trailing_whitespace = true

quote_type = double