@font-face {
    font-family: "SairaCondensed-Black";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Black.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-Bold";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-ExtraBold";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-ExtraLight";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-Light";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Light.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-Medium";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-Regular";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-SemiBold";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "SairaCondensed-Thin";
    src: url("./assets/fonts/Saira_Condensed/SairaCondensed-Thin.ttf") format("truetype");
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
fieldset {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Saira Condensed", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
    background-color: #000;
}

* {
    box-sizing: border-box;
}


button {
    border: none;
    transition: all .2s ease-in-out;
    color: #fff;
    font-family: "Saira Condensed", "Open Sans", sans-serif;
    cursor: pointer;
}