html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
fieldset {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Saira Condensed", "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
    background-color: #000;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


button {
    border: none;
    transition: all .2s ease-in-out;
    color: #fff;
    font-family: "Saira Condensed", "Open Sans Condensed", sans-serif;
    cursor: pointer;
}

img {
    transition: all .2s ease-in-out;
}

a {
    color: #53D337;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #F6B700;
}

a:hover img {
    opacity: 1;
}